body {
	  text-align: center;
}
#wrapper {
	  text-align: left;
	  width: 720px;
	  margin-left: auto;
	  margin-right: auto;
}

#options{
	width: 210px;
	height:990px;
	border:1px solid black;
	float:left;
}

#frame{
	width:503px;
	height:990px;
	//background-image: url("../images/UK-Map.gif");
	background-repeat: repeat-y;
    	background-position: 0 0;
    	border:1px solid black;
    	float:right;
	    background-color: #e7efec;
	box-shadow: 0 0 12px black;
}

#tbldevs{
	border:1px solid black;
	width:80%;
	margin-left:50px;
	margin-top:10px;
}

#tbldevs th{
	text-align:center;
	height:50px;
	width:50px;
}

#tbldevs td{
	height:50px;
}


#drag1 {
	position: relative;
	margin-left:1px;
	margin-top:1px;
	background-image: url("../images/proceso.png");
	width:100px;
	height:80px;
}

input{
margin-top: -10px;
   
    width: 75px;
    height: 80px;
    margin-left: 5px;
    background-color: rgba(239, 245, 245, 0.08);
    position: absolute;
 
    border-color: rgba(243, 245, 245, 0);
}

#drag2 {
	margin-left:1px;
	margin-top:1px;
	background-image: url("../images/desicion.png");
	width:100px;
	height:80px;
}

#drag3 {
	margin-left:1px;
	margin-top:1px;
	background-image: url("../images/io.png");
	width:100px;
	height:80px;
}

#drag4 {
	margin-left:1px;
	margin-top:1px;
	background-image: url("../images/multidoc.png");
	width:100px;
	height:80px;
}

#drag5 {
	margin-left:1px;
	margin-top:15px;
	background-image: url("../images/impreso.png");
	width:100px;
	height:80px;
}

#drag6 {
	margin-left:1px;
	margin-top:1px;
	background-image: url("../images/endBegan.png");
	width:100px;
	height:80px;
}
#drag7 {
	margin-left:1px;
	margin-top:1px;
	background-image: url("../images/up.png");
	width:100px;
	height:80px;
}

#drag8{
	margin-left:1px;
	margin-top:1px;
	background-image: url("../images/down.png");
	width:100px;
	height:80px;
}

#drag9 {
	margin-left:1px;
	margin-top:1px;
	background-image: url("../images/left.png");
	width:100px;
	height:80px;
}

#drag10 {
	margin-left:1px;
	margin-top:1px;
	background-image: url("../images/right.png");
	width:100px;
	height:80px;
}
.ui-draggable-helperMoving {
	border: 1px dotted #000;
	padding: 6px;
	background: #fff;
	font-size: 1.2em;
	width:100px;
	height:100px;
}

.ui-draggable-helperStoped {
	border: 1px solid #000;
	width:5px;
	height:5px;
}



/* classes for dragged stuff */
.dragged1 {
	position:absolute; 
	background-image: url("../images/proceso.png");
	width:100px;
	height:80px;
}

.dragged2 {
	position:absolute; 
	background-image: url("../images/desicion.png");
	width:100px;
	height:80px;
}

.dragged3 {
	position:absolute; 
	background-image: url("../images/io.png");
	width:100px;
	height:80px;
}

.dragged4 {
	position:absolute; 
	background-image: url("../images/multidoc.png");
	width:100px;
	height:80px;
}

.dragged5 {
	position:absolute; 
	background-image: url("../images/impreso.png");
	width:100px;
	height:80px;
}

.dragged6 {
	position:absolute; 
	background-image: url("../images/endBegan.png");
	width:100px;
	height:80px;
}
.dragged7 {
	position:absolute; 
	background-image: url("../images/up.png");
	width:100px;
	height:80px;
}

.dragged8 {
	position:absolute; 
	background-image: url("../images/down.png");
	width:100px;
	height:80px;
}

.dragged9 {
	position:absolute; 
	background-image: url("../images/left.png");
	width:100px;
	height:80px;
}

.dragged10 {
	position:absolute; 
	background-image: url("../images/right.png");
	width:100px;
	height:80px;
}

#element{
	border:1px solid red
}

#ip7{
	display: none;
}

#ip8{
	display: none;
}

#ip9{
	display: none;
}

#ip10{
	display: none;
}

#ip2{
    width: 50px;
    height: 80px;
}
